@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-tex-color);
  font-size: 18px;
  background-color: var(--main-bg-color);
}

.header-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
