:root {
  --accent-color: #28a745;
  --primary-tex-color: #333333;
  --secondary-text-color: #ffffff;
  --main-bg-color: #ffffff;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  --grid: 30px;
}

$mobile: 480px;
$tablet: 768px;
$descktop: 1200px;
