<section class="slick">
  <div class="container">
    <h2>Slick</h2>

    <div class="one-time">
      <div class="slick-card">
        <h3 class="slick-title">1</h3>
        <p class="slick-desc">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod
          voluptate est facilis unde dicta deserunt quas accusantium? Quod ipsum
          rem nihil aspernatur ab fuga veniam eveniet sunt facilis, similique
          corrupti.
        </p>
      </div>

      <div class="slick-card">
        <h3 class="slick-title">2</h3>
        <p class="slick-desc">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod
          voluptate est facilis unde dicta deserunt quas accusantium? Quod ipsum
          rem nihil aspernatur ab fuga veniam eveniet sunt facilis, similique
          corrupti.
        </p>
      </div>

      <div class="slick-card">
        <h3 class="slick-title">3</h3>
        <p class="slick-desc">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod
          voluptate est facilis unde dicta deserunt quas accusantium? Quod ipsum
          rem nihil aspernatur ab fuga veniam eveniet sunt facilis, similique
          corrupti.
        </p>
      </div>

      <div class="slick-card">
        <h3 class="slick-title">4</h3>
        <p class="slick-desc">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod
          voluptate est facilis unde dicta deserunt quas accusantium? Quod ipsum
          rem nihil aspernatur ab fuga veniam eveniet sunt facilis, similique
          corrupti.
        </p>
      </div>

      <div class="slick-card">
        <h3 class="slick-title">5</h3>
        <p class="slick-desc">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod
          voluptate est facilis unde dicta deserunt quas accusantium? Quod ipsum
          rem nihil aspernatur ab fuga veniam eveniet sunt facilis, similique
          corrupti.
        </p>
      </div>

      <div class="slick-card">
        <h3>6</h3>
        <p class="slick-desc">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod
          voluptate est facilis unde dicta deserunt quas accusantium? Quod ipsum
          rem nihil aspernatur ab fuga veniam eveniet sunt facilis, similique
          corrupti.
        </p>
      </div>
    </div>
  </div>
</section>
