.header {
  position: fixed;
  width: 100%;
  padding-top: 21px;

  @media screen and(min-width: $tablet) {
    padding-top: 0;
  }

  & .container {
    @media screen and(min-width: $tablet) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media screen and(min-width: $descktop) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &-logo {
    font-size: 32px;
    line-height: 1.21;
    margin-right: auto;
    color: var(--secondary-text-color);

    display: flex;
    align-items: center;

    @media screen and(max-width: 767px) {
      justify-content: center;
    }

    @media screen and(min-width: $tablet) {
      font-size: 35px;
    }
  }

  .logo-icon {
    margin-right: 5px;

    @media screen and(min-width: $tablet) {
      margin-right: 10px;
    }
  }

  .accent {
    color: var(--accent-color);
    margin-right: 12px;
  }

  &-nav-link {
    font-size: 16px;
    line-height: 1.56;
    color: var(--secondary-text-color);
    padding-top: 21px;
    padding-bottom: 21px;
    display: inline-block;

    position: relative;
  }

  /* коли одна властисть */
  transition: color var(--duration) var(--timing-function);

  /* Коли більше 2-х властивостей */
  /* transition-property: color, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function); */

  @media screen and(min-width: $tablet) {
    font-size: 18px;
  }

  &-nav-link:hover,
  &-nav-link:focus {
    color: var(--accent-color);
  }

  &-nav-link:hover::after,
  &-nav-link:focus::after {
    content: '';
    display: block;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-color);
  }

  &-nav-link::after {
    content: '';
    display: block;
    transition: background-color var(--duration) var(--timing-function);
  }

  /* .header-nav-link.current::after {
  content: '';
  display: block;

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
} */

  &-nav {
    @media screen and(min-width: $tablet) {
      display: flex;
      align-items: center;
    }
  }

  &-nav-list {
    display: flex;
    align-items: center;
    gap: 12px;

    @media screen and(max-width: 767px) {
      justify-content: center;
    }

    @media screen and(min-width: $tablet) {
      gap: 18px;
    }

    @media screen and(min-width: $descktop) {
      gap: 38px;
    }
  }
}
